<footer id="cont">
    <div class="forflex">
        <div class="par">
            <div class="anim">
                <div class="spiral-container">
                    <div id="spiral" class="spiral">
                        <!-- <div class="character">R</div>
            <div class="character">o</div>
            <div class="character">h</div> -->
                        <!-- Add more characters as needed -->
                    </div>
                    <div id="spiral2" class="spiral">
                        <!-- <div class="character">V</div>
            <div class="character">i</div>
            <div class="character">s</div> -->
                        <!-- Add more characters as needed -->
                    </div>
                </div>
            </div>
        </div>



        

        <div class="details">
            <h1>Developed by: Rohith Vishnu</h1>

            <br><br>

            <p>Email : <a href="mailto:rohithvishnuk@gmail.com"
                    style="text-decoration: none;">rohithvishnuk@gmail.com</a></p>
            <p>LinkedIn : <a href="https://www.linkedin.com/in/rohith-vishnu-kumar/" target="_blank">Click here to go to
                    LinkedIN</a> </p>
            <p>Phone : (+91) 8247650717</p>
            <div class="rights" style="color: rgb(173, 207, 6); margin-left: 26vw ;">©Pro-Pomodoro 2024. All Rights Reserved.</div>

        </div>

    </div>

</footer>