<footer id="cont">
    <div class="forflex">
        <div class="par">
            <div class="anim">
                <div class="spiral-container">
                    <div id="spiral" class="spiral">
                        <!-- <div class="character">R</div>
            <div class="character">o</div>
            <div class="character">h</div> -->
                        <!-- Add more characters as needed -->
                    </div>
                    <div id="spiral2" class="spiral">
                        <!-- <div class="character">V</div>
            <div class="character">i</div>
            <div class="character">s</div> -->
                        <!-- Add more characters as needed -->
                    </div>
                </div>
            </div>
        </div>



        

        <div class="details">
            <h1>Developed by: Rohith Vishnu</h1>

            <br><br>

            <div class="rights" style="color: rgb(173, 207, 6); margin-left: 26vw ;">©Pro-Pomodoro 2024. All Rights Reserved.</div>

        </div>

    </div>

</footer>